//Primary
$primary_1: hsl(0, 100%, 74%);
$primary_2: hsl(154, 59%, 51%);

//Accent
$blue_1: hsl(248, 32%, 49%);

//Neutral
$blue_2: hsl(249, 10%, 26%);
$blue_3: hsl(246, 25%, 77%);

//Font

$myfont: "poppins", sans-serif;
